html{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* styles for the header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 125px;
    width: 100%;
    background-color: #1a237e;
    color: #f4f4f4;
    padding: 2em 0;
}
header > div:nth-child(odd){
    height: 115px;
}
header > div:nth-child(even){
    margin-left: -100px;
}
header > div:nth-child(odd) > a > img{
    height: 100%;
}

/* styles for the main */
main h2{
    font-size: 2em;
    color: #3f51b5;
}
main p{
    font-size: 1.5em;
}
main #demoPara{
    width: 70%;
    margin: 0 auto;
}
main strong{
    color: red;
}

/* styles for the nasa data */
.displayNasa{
    padding: 3em;
}
.nasaImage{
    width: 650px;
    height: 750px;
    margin: 0 auto;
    border: 2px solid #1a237e;
    border-radius: 5px;
}
.displayNasa > div{
    display: flex;
    justify-content: space-evenly;
}
.displayNasa > div:last-child{
    padding-top: 1.5em;
}
.displayNasa > div:last-child a, .displayNews > div:last-child a{
    color: grey;
    text-decoration: none;
    font-size: 1.2em;
}
.displayNasa > div:last-child a:hover, .displayNews > div:last-child a:hover{
    text-decoration: underline;
}
#nasaTitle{
    font-size: 1.65em;
    color: #3f51b5;
}
#nasaDate{
    font-size: 1.65em;
    color: red;
}
#nasaDescription{
    font-size: 1.3em;
    line-height: 1.25em;
}

/* styles for the news data */
.displayNews{
    padding: 2em;
}
.displayNews > div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.displayNews .newsImage{
    width: 450px;
    height: 500px;
    margin: 0 auto;
    border: 2px solid #1a237e;
    border-radius: 5px;
}
#newsTitle{
    font-size: 1.65em;
}
#newsLink{
    color: red;
    font-size: 1.3em;
    text-decoration: none;
}
#newsLink:hover{
    text-decoration: underline;
}
#newsAuthor{
    font-size: 1.3em;
}

/* styles for the middle block */
.transition{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a237e;
    height: 150px;
    color: #f4f4f4;
}
.transition > p{
    font-size: 1.7em;
}
/* styles for footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a237e;
    color: #f4f4f4;
    width: 100%;
    height: 80px;
}
